    <aside>
      <h2>Check out the current feed!</h2>
    </aside>
    <section class="gallery">

{{#each posts as |post|}}
<!-- Iterate over each post -->
{{> post}}
  {{/each}} <!-- End of post iteration -->
  </section>