

<div class="container-fluid text-center">
    <div class="row align-items-start">
        <div class="col justify-content-center align-items-center">
            <div class="card w-45">
                <div class="card-header bg-primary">
                    Login Here!
                </div>
                <div class="card-body">
                    <form>
                        <!-- Input field for username -->
                        <div class="mb-4">
                            <label for="usernameInput1" class="form-label">Username</label>
                            <!-- Dynamic value for username -->
                            <input type="text" class="form-control" id="username-login" aria-describedby="usernameHelp"
                                value="{{username}}">
                        </div>
                        <!-- Input field for password -->
                        <div class="mb-3">
                            <label for="passwordInput1" class="form-label">Password</label>
                            <!-- Dynamic value for password -->
                            <input type="password" class="form-control" id="password-login" value="{{password}}">
                        </div>
                        <!-- Submit button -->
                        <button type="submit" class="btn btn-primary" id="submit-login">Login</button>
                    </form>
                    <!-- Sign-up link -->
                    <p>Don't have an account? <a href="/signup">Sign Up</a></p>
                </div>
            </div>
        </div>
    </div>
</div>
  <script src="/js/login.js"></script> 