<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sign Up</title>
    <!-- Bootstrap CSS -->
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
    <!-- Custom CSS -->
    {{!-- <link rel="stylesheet" href="styles.css"> --}}
</head>
<body>
    <div class="container">
        <div class="row justify-content-center align-items-center" style="height: 100vh;">
            <div class="col-md-6">
                <div class="card">
                    <div class="card-header bg-primary text-light">
                        Sign Up Here!
                    </div>
                    <div class="card-body">
                        <form action="/signup" method="POST">
                            <!-- Input field for email -->
                            <div class="mb-3">
                                <label for="email" class="form-label">Email</label>
                                <input type="email" class="form-control" id="email" name="signupEmail" aria-describedby="emailHelp">
                            </div>
                            <!-- Input field for username -->
                            <div class="mb-3">
                                <label for="username-signup" class="form-label">Username</label>
                                <input type="text" class="form-control" id="username-signup" name="signupUsername" aria-describedby="usernameHelp">
                            </div>
                            <!-- Input field for password -->
                            <div class="mb-3">
                                <label for="password-signup" class="form-label">Password</label>
                                <input type="password" class="form-control" id="password-signup" name="signupPassword">
                                <button type="button" class="show-password-btn">Show Password</button><br><br>
                            </div>
                            <!-- Confirm password field -->
                            <div class="mb-3">
                                <label for="confirmPasswordInput" class="form-label">Confirm Password</label>
                                <input type="password" class="form-control" id="confirm-password-signup" name="confirmPassword">
                                <button type="button" class="show-password-btn">Show Password</button><br><br>
                            </div>
                            <!-- Submit button -->
                            <button type="submit" class="btn btn-primary" id="submit-signup">Sign Up</button>
                        </form>
                        <!-- Login link -->
                        <p>Already have an account? <a href="/login">Login</a></p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script src="script.js"></script>
</body>
</html>
